.HS-main{
    background: url(/assets/img/events/Hexcore/Hex.png) center/cover no-repeat fixed;
    height: 100vh;
}
.HS-events{
    background: url(/assets/img/events/Hexcore/Hex-2.png) center/cover no-repeat fixed;
    backdrop-filter: blur(2px);
}
.card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
}

@media only screen and (min-width: 600px){

}