@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: url(/assets/img/events/spark/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.spark-left {
  color: white;
  padding: 24% 9%;
}

.spark-glow {
  font-size: 4rem;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

.spark-left h2 {
  font-weight: 300;
}

.spark-button {
  margin-top: 30px;
}

.spark-learn {
  width: 100vw;
  padding-top: 10%;
}

.spark-head {
  font-family: "Alegreya Sans SC", sans-serif;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

.spark-design-thinking span {
  font-weight: 700;
  font-size: 3.2rem;
}

.spark-design-thinking {
  letter-spacing: px;
  line-height: 29px;
  color: rgba(254, 220, 169, 255);
  font-family: "Anton", sans-serif;
  padding: 10% 10% 0 10%;
  height: 20%;
  text-align: center;
}

.spark-attr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spark-sec-lef-sec,
.spark-side-right-sec {
  width: 70vw;
  height: 100%;
}

.spark-guests {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 1% 0;
}

.spark-chief {
  font-family: "Alegreya Sans SC", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  padding: 6% 0 0 0;
  color: white;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #ffd00054, 0 0 20px #e6d3007a, 0 0 30px #e6d300, 0 0 40px #e6d300, 0 0 50px #e6d300, 0 0 60px #e6d300, 0 0 70px #e6d300;
  }

  to {
    text-shadow: 0 0 20px #e6d30061, 0 0 30px #e6d300, 0 0 40px #e6d30065, 0 0 50px #e6d300, 0 0 60px #e6d300, 0 0 70px #e6d300, 0 0 80px#e6d300;
  }
}
/* --------------------------------------------------------RESPONSIVENESS---------------------------------------------------------- */

/* xs */
@media (min-width: 475px) {
}

/* sm */
@media (min-width: 640px) {
  .spark-attr {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .spark-sec-lef-sec,
  .spark-side-right-sec {
    width: 40vw;
  }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .spark-left {
    padding: 15% 10%;
  }
  .spark-glow {
    font-size: 7rem;
  }

  .spark-learn {
    padding: 0;
  }

  .spark-content {
    display: flex;
    justify-content: center;
  }

  .spark-design-thinking {
    padding: 20% 0;
    text-align: left;
  }

  .spark-attr {
    width: 60%;
  }

  .spark-design-thinking span {
    font-weight: 700;
    font-size: 4rem;
    line-height: 35px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .spark-design-thinking {
    padding: 10% 0;
  }
}

.spark-pix {
  width: 300px;
  height: 300px;
  margin: auto;
  /* background-image: url(../images/gst1.png); */
  background-size: cover;
  background-position: center;
  grid-area: a;
}

.spark-txt {
  text-align: center;
  grid-area: b;
  padding: 1%;
}

.spark-txt p {
  padding: 1% 7%;
}

.spark-disp {
  text-align: center;
  display: grid;
  grid-template-areas: "a" "b";
  max-width: 390px;
  padding: 4% 0;
}

.spark-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12% 0;
  color: white;
  width: 100%;
}

.spark-heading {
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.spark-para {
  font-size: 1rem;
  max-width: 80%;
  text-align: center;
  line-height: 15px;
  font-weight: 400;
}

.spark-button {
  position: absolute;
}
.spark-voltage-button {
  position: relative;
}

.spark-voltage-button button {
  color: rgb(255, 195, 106);
  background: #000000;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 18px;
  border: 2px solid rgb(255, 195, 106);
  font-size: 1.2rem;
  line-height: 1em;
  letter-spacing: 0.075em;
  transition: background 0.3s;
}

.spark-voltage-button button:hover {
  cursor: pointer;
  color: white;
  background: #1d191d;
}

.spark-voltage-button button:hover + svg,
.spark-voltage-button button:hover + svg + .spark-dots {
  opacity: 1;
}

.spark-voltage-button svg {
  display: block;
  position: absolute;
  top: -0.75em;
  left: -0.25em;
  width: calc(100% + 0.5em);
  height: calc(100% + 1.5em);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.1s;
}

.spark-voltage-button svg path {
  stroke-dasharray: 100;
  filter: url("#glow");
}

.spark-voltage-button svg path.line-1 {
  stroke: #ff941b;
  stroke-dashoffset: 0;
  animation: spark-1 3s linear infinite;
}

.spark-voltage-button svg path.line-2 {
  stroke: #ffffe4;
  stroke-dashoffset: 500;
  animation: spark-2 3s linear infinite;
}

.spark-voltage-button .spark-dots {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
}

.spark-voltage-button .spark-dots .spark-dot {
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0;
}

.spark-voltage-button .spark-dots .spark-dot-1 {
  top: 0;
  left: 20%;
  animation: fly-up 3s linear infinite;
}

.spark-voltage-button .spark-dots .spark-dot-2 {
  top: 0;
  left: 55%;
  animation: fly-up 3s linear infinite;
  animation-delay: 0.5s;
}

.spark-voltage-button .spark-dots .spark-dot-3 {
  top: 0;
  left: 80%;
  animation: fly-up 3s linear infinite;
  animation-delay: 1s;
}

.spark-voltage-button .spark-dots .spark-dot-4 {
  bottom: 0;
  left: 30%;
  animation: fly-down 3s linear infinite;
  animation-delay: 2.5s;
}

.spark-voltage-button .spark-dots .spark-dot-5 {
  bottom: 0;
  left: 65%;
  animation: fly-down 3s linear infinite;
  animation-delay: 1.5s;
}

@keyframes spark-1 {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes spark-2 {
  to {
    stroke-dashoffset: -500;
  }
}

@keyframes fly-up {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(-1.5rem) scale(0.4);
  }

  10%,
  100% {
    opacity: 0;
    transform: translateY(-3rem) scale(0.2);
  }
}

@keyframes fly-down {
  0% {
    opacity: 0;
    transform: translateY(0) scale(0.2);
  }

  5% {
    opacity: 1;
    transform: translateY(1.5rem) scale(0.4);
  }

  10%,
  100% {
    opacity: 0;
    transform: translateY(3rem) scale(0.2);
  }
}
