/* Components */
@import url(all.min.css);
@import url(navhead.css);
@import url(banner.css);
@import url(carousel.css);
@import url(footer.css);

/* Pages */
@import url(pages/about.css);
@import url(pages/events.css);
@import url(pages/team.css);
@import url(pages/project.css);
@import url(pages/projects.css);
@import url(pages/journey.css);
@import url(pages/arcade.css);
@import url(pages/Hexcore.css);

@font-face {
    font-family: Inter;
    src: url(../webfonts/Inter.ttf);
}

@font-face {
    font-family: Arcade;
    src: url(../webfonts/Arcade.ttf);
}

@font-face {
    font-family: Classic;
    src: url(../webfonts/Classic.ttf);
}

@font-face{
    font-family: Arcane;
    src: url(../webfonts/Arcane-9.ttf);
}

.font-Arcane {
    font-family: Arcane , sans-serif;
}



body{
    color: #fff;
    background-color: #000;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    margin: 0;
    font-family: 'Inter';
}

.page-wrapper{
    scroll-snap-type: y mandatory;
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 9px; height: 1px;}
::-webkit-scrollbar-button {  background-color: #424242; }
::-webkit-scrollbar-track {  background-color: #6464642d;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #252424; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #4c4b4b;}
::-webkit-resizer { background-color: #666;}